*
{

  background-color: rgba(237, 237, 237, 100);
  padding: 5px;
  margin: 6px;


}

body
{
  display: grid;
  grid-template-columns: 10% 80% 10% ;
  grid-template-rows:auto;
  grid-template-areas: 
  "left hero right"
  "left attributes right"
  "left lifestyle right"
  "left hobbits right"
  "left expertise right"
  "left education right"
  ;
}
.attributes
{
  grid-area: attributes;
}
.lifestyle-values
{
  grid-area: lifestyle;
}
.hobbies-interest
{
  grid-area: hobbits;
}
.technical-expertise
{
  grid-area: expertise;
}
.education-skills
{
  grid-area: education;
}
.-meow
{
  background-color: white;
  height: 500px;
  width: 100%;
}

.left
{
  grid-area: left;
}
.right
{
  grid-area: right;
}
.hero-section
{

  grid-area: hero;

  background-color: rgba(255, 255, 255, 100);
  display: grid;
  grid-template-columns: 55% 45% ;
  grid-template-rows:auto;
  grid-template-areas:
  "texti imagis"
  "summery imagis"
  ;

  height: auto;
  width: 100%;

}

.summery
{
  grid-area: summery;
  
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.summery p
{
  font-size: 40px;
  width: 90%;
  text-justify: inter-word;
}
.hero-text
{
  grid-area: texti ;
  
  border-radius: 20px;
  
  text-align: center;
}
.hero-text h2 
{
  border-radius: 15px;

  font-size: 100px;
}
.hero-text p
{
  background-color: rgba(255, 255, 255, 100);
  border-radius: 15px;

  font-size: 40px;

}
.hero-image
{
  grid-area: imagis;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image img
{
  height: 600px;
  width: auto;
}

.attributes
{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-areas: 
  "leader creative funny"
  ;
  
  background-color: rgba(255, 255, 255, 100);
  
  width: 100%;
}

.leadership
{
  grid-area: leader;

  border-radius: 20px;
}

.creative
{
  grid-area: creative;

  border-radius: 20px;
}

.funnyfunny
{
  grid-area: funny;

  border-radius: 20px;
}

