*
{

  background-color: rgba(237, 237, 237, 100);
  padding: 5px;
  margin: 6px;


}

body
{
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows:auto;
  grid
}
.-meow
{
  background-color: white;
  height: 500px;
  width: 100%;
}


