
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');

* {

  font-family: "Funnel", sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;

}


title {
  
  display: none;

}

body {

  overflow: scroll;
  height: 100%;
  margin: 5px;
  padding: 4px ;
  gap: 1em;
  background: linear-gradient(-125deg, rgba(150, 150, 150, 1), rgba(250, 0, 250, 0.5) );

}

.container {

  border-radius: 20px;

  padding: 10px;
  margin: 10px;

  height: 850px;
  
  max-width: 100%;

}

.landing-section {

}

.container h1 {

  float: left;

  font-size: 150px;

  max-width: 50%;

  left: 30%;
  top: 50px;

}

.landing-section p {
  
  border-style: solid;
  border-radius: 20px;

  font-size: 40px;
  text-align: center;
  padding: 10px;

  width: auto;
  height: auto;

  float: left;

  left: 10%;
  top: 600px 

}

.container img {

  border-radius: 150px 150px 0px 0px;

}

.container .myImage {

  position: relative;
  float: right;

  max-width: 100%;

  top: 9vw;
  right: 1vw;

  height: 600px;
  width: auto;

}

.container .backgroundImage {

  position: relative;
  float: right;

  right: 5vw;

  height: 750px;
  width: 300px;



}


