
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');

* {

  font-family: "Funnel", sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;

}


title {
  
  display: none;

}

body {


  background: linear-gradient(45deg, rgba(250, 250, 250, 1), rgba(100, 0, 200, 0.6));
  padding: 10px;
  margin: 10px;

}

.container{ 

  height: 660px;
  gap: 2rem;

  padding: 5px;
  margin: 5px;

}

.landing-section {

  background: white;

  height: 660px;
  border-radius: 20px;
  border-style: solid;
  border-color: grey;

}

.myImage {

  height: auto;
  width: 250px;

  position: relative;
  float: right;

  right: 10%;

  top: 5%;

  border-radius: 100px 100px 0px 0px;

}

.backgroundImage {

  position: absolute;
  float: right;

  right: 5%;

  height: 560px;
  width: 250px;

  border-radius: 100px 100px 0px 0px;

}



