
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');

* {

  font-family: "Funnel", sans-serif;
  max-width: 100%;
  margin: 0;

}


title {
  
  display: none;

}

body {

  overflow: scroll;
  display: grid;
  grid-template-areas: 
  "tittle"
  "theManHimself"
  "about"
  "thisWeb"
  "apps"
  "games"
  "bts"
  "contacts"
  ;
  grid-template-columns: auto;
  height: 100%;
  color: black;
  padding: 0,7px ;
  gap: 0,2em;
  background-color: grey;

}


p {
  font-size: 200px;
  color: blue;
}


.headTittle {
  border-style: solid;
  border-color: black;
  border-radius: 20px;

  height: 100%;

  grid-area: tittle;

  background-color: white;
}


main {
  grid-area: theManHimself;
}





