@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');


* {
  
  margin: 0px;
  padding: 0px;
  font-family: 'Funnel', arial;

  max-height: 100%;


}

body {

  background: linear-gradient(-140deg, rgba(250, 250, 250, 1), rgba(150, 150, 150, 1));


  width: 99%; 
  height: 97%;

  position: absolute;

}

h1{

  height: 50px;

  width: 100%;

  text-align: center;

}

.my-image {

  top: 10%;

  text-align: center;

  position: relative

}

.my-image img {

  height: 400px;
  width: auto;

}

.links {

  top: 10%;
  position: relative;

  text-align: center;

  height: 60px;


}

a {

  text-decoration: none;
  color: black;

}

a:hover{

  color: grey;
  
}

.links a {

  color: grey;
  text-decoration: none;

}

footer {

  height: 100px;

  position: relative;
  text-align: center;

  bottom: -10%;

}
