@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Funnel", sans-serif;
    max-width: 100%;
    margin: 0px;
}


title {
    display: none;
}

body {
    overflow: scroll;
    padding: 20px;
    margin: 0;
    background-color: #fcf8f5;
}
