div {
    background-color: aliceblue;

    padding: 10px;
    margin: 20px;

    border-radius: 28px;
}

.absolute {
    position: absolute;
    display: block;

    padding: 10px;
    margin: 20px 0 20px 0;
}

.relative {
    position: relative;
    display: inline-block;

    padding: 10px;
    margin: 20px;
    height: 200px;
    max-width: 100%;

    right: 0%;
    left: 0%;

}

.feets {
    top: 200%;
}