.feets {
    background-color: gray;
    position: absolute;
    padding: 30px;
    height: 150px;
    margin: 0;
    right: 0px;
    left: 0px;
    border-radius: 0px;
    
}

.feets ul {
    list-style-type: none;
}

.feets li a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.rol {
    background-color: gray;
    height: 150px;
    width: 400px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.feetinfo {
    position: relative;
    left: 0%;
}

.footerdisclaimer {
    position: absolute;
    right: 1%;
}
