

.memememe img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    right: 0%;
}

.memememe {
    position: absolute;
    left: auto;
    right: 0%;
    margin: 20px;
    padding: 20px;
    display: block;
    width: 20%;
}

div {
    background-color: white;
    border-radius: 25px;
}

.perdesc {
    position: absolute;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 20%;
    left: 0%; 
    height: 579px;
}

.rel {
    position: relative;
    width: 45%;
    padding: 20px;
    margin: 20px;
    left: 25%;
    display: block;
    height: 200px;
}

.apps button {
    /*Display and position*/ 
    position: relative;
    display: inline-block;
    right: 1%;
    left: 1%;
    /*Border and it's size and curves*/ 
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    /*Background sizing*/ 
    width: 300px;
    height: 80px;
    font-size: 30px;
    /**/
    margin: 10px;
    padding: 20px;

    text-align: center;

}

.apps a {
    text-decoration: none;
    color: black;
}