

.memememe img {
    width: 434.25px;
    height: 579px;
}

.memememe {
    position: absolute;
    left: 70%;
    right: 0%;
    display: block;
    margin: 20px;
    padding: 20px;
    display: inline;
}

div {
    background-color: white;
    border-radius: 25px;
}

.perdesc {
    position: absolute;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    right: 75%;
    left: 0%;
}

.rel {
    position: absolute;
    max-width: 100%;
}

.webdesc {
    left: 25%;
    right: 30%;
    padding: 20px;
    margin: 20px;
    display: inline-block;

}

.apps {
    left: 25%;
    right: 30%;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

