body {
    background-color:  #d8ffd4;
    margin: 0px;
}

main {
    margin: 20px;
}

.navigaton {
    position: static;
    background-color: azure;
    border-radius: 25px;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

.navigaton ul {
    list-style-type: none;
    color: black;
    padding: 0;
    margin: 0;
    background: none
}

.navigaton a {
    text-decoration: none;
    color: black;
}

.lefttop a {
    text-align: right;
    padding: 10px;
    display: block;
}

.logo a {
    text-align: right;
    padding: 10px;
    display: block;
}

.righttop {
    text-align: right;
    text-decoration: none;
    padding: 10px;
    display: flex;
}

.navigaton div  {
    float: left;
}

.righttop button {
    right: 30px;
}